@{
    ViewBag.Title = "Home Page";
}

<p>
    Example <a href="http://openid.net/">OpenID</a> consumer/relaying party, which shows how to setup your site to authenticate using an OpenID provider.
</p>
<p>
    Try going to the "Member's Only" section, which requires authorization.  You will be asked to authenticate against an OpenID provider.
</p>
