@model dynamic

@{
    ViewBag.Title = "Member's Only";
}

<h2>Congrats! You now have 'Member's Only' access</h2>

<img src="http://www.rustyzipper.com/full/120741L.jpg" alt="Member's Only Jacket"/>